.post {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;

}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray;
}

.post__info > h2 {
  font-size: 16px;
}

.post__body {
  overflow-wrap: anywhere;
}

.post__body > p {
  font-size: 14px;
}

.post__buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f3f2ef;
  margin-top: 10px;
  font-size: 14px;
  padding: 0px 10px;
}
